.card {
    font-family: "MS UI Gothic", "Noto Sans CJK JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", TakaoPGothic, sans-serif;
    font-size: calc(1em + 2vmax);
    text-align: center;
    color: white;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
}

/*Adjust cards to screen size*/
@media screen and (orientation: portrait) {
    .card {
        max-width: 100%;
        font-size: calc(1.5em + 3vmax);
    }
}

@media screen and (orientation: portrait) and (min-height: 1000px) {
    .card {
        max-width: 100%;
        font-size: calc(2em + 5vmax);
    }
}

@media screen and (orientation: landscape) {
    .card {
        max-width: 80%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
    .card {
        max-width: 70%;
    }
}

@media only screen and (orientation: landscape) and (min-width: 2000px) {
    .card {
        max-width: 50%;
        font-size: calc(1em + 3vmax);
    }
}


/*Basic spacing and font size options*/

#expression-field {
    margin-bottom: -0.2rem;
}

#reading-field {
    font-size: 80%;
    margin-bottom: 12px;
}

#accent-graph {
    font-size: 50%;
    transform: scaleX(1.3);
}

ruby rt { visibility: hidden; }
ruby:hover rt { visibility: visible; }

#box-definition {
    border: 1px solid gray;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
}

.box-upper-half {
    padding: 16px 16px 0;
    font-size: 40%;
}

.box-bottom-half {
    padding: 0 16px 16px;
    font-size: 25%;
    border-top: 1px solid gray;
}

#extra-info-button {
  font-size: 50%;
  margin-top: 16px
}
